<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Financiap - Inicia sesión o registrate</title>
        <script th:src="@{/vendor/app-assets/js/jquery.min.js}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container col-md-3">
            <h3>Felicidades estás registrado, Inicia sesión</h3>
            <div class="form-group">
                <a href="/login" class="btn btn-secondary form-control">Logueate</a>
            </div>
        </div>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>