input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.division {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    height: 1px;
}

.suma-monedas {
    background-color: #dee2e6;
}

.seccion-nav {
    background-color: #495057;
}

.toast-custom {
    position: absolute;
    top: 0px;
    color: white;
    right: 0px;
}

.duracion-traslado-navbar {
    transition-duration: 0.2s;
}

.grosor-titulos {
    font-weight: 400;
}

.sombra {
    box-shadow: 5px 0px 16px grey;
}

.fa-clickable {
    cursor:pointer;
}

.fondo-login-registro {
    background-color: #495057;
}

.tamanio-usuario-logueado-icono {
    font-size: 18px;
}